<section>
    <mat-card class="system-info">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Thiago Diniz</mat-card-title>
            <mat-card-subtitle>Desenvolvedor Front-End</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <mat-card-subtitle>Contatos</mat-card-subtitle>
            <a href="https://www.linkedin.com/in/thiago-diniz-b11969161/" class="linkedin"></a>
            <a href="https://github.com/thiagoodiniz" class="github" ></a>
        </mat-card-actions>
    </mat-card>
</section>
    