<header class="main-header">
    <nav class="navbar">
        <ul>
            <li routerLinkActive="active"><a [routerLink]="['/purchase/list']">Lista de Compras</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/purchase/create']">Cadastro de Compra</a></li>
            <li *ngIf="loggedUser" class="user-li" routerLinkActive="active">
                <a [matMenuTriggerFor]="menu">{{loggedUser.name}}</a>
                <mat-menu #menu="matMenu">
                    <button (click)="systemInfo()" mat-menu-item>Informações do Sistema</button>
                    <button (click)="logout()" mat-menu-item>Sair</button>
                </mat-menu>
            </li>            
        </ul>
    </nav>
</header>