.main-header {
    position: fixed;
    top: 0;
    height: 40px;
    background-color: #272343;
    color: #fff;
    width: 100%;
    box-shadow: 0 0 12px -1px rgba(0,0,0,1);
    display: flex;
    align-items: center;
    z-index: 9;
}

nav {
    width: 100%;
}

ul {
    list-style: none;
    display: flex;

    & > li {
        margin: 0 20px;
        
        & > a {
            color: #fff;    
            text-decoration: none;
        }
    }

    & > li:hover {
        font-weight: 500;
    }

    & > .user-li {
        margin-left: auto;

        & > a {
            cursor: pointer;
        }
    }
}
