
.purchase-list-container {
    max-width: 80%;
    margin: 0 auto;

    &__table {
        width: 100%;
    }
}

.actions {
    &__btn {
        border: none;
        background: none;
        cursor: pointer;

        &--remove {
            color: red;
        }
    }
}