<section>
    <mat-card class="purchase">
        <mat-card-header>
            <mat-card-title>Cadastro de Compra</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="purchase__form" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Código do produto">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Valor">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Data">
                </mat-form-field>
            </form>
        </mat-card-content>
    
        <mat-card-actions class="purchase__actions">
            <button class="purchase__actions--save-btn" mat-raised-button>Salvar</button>
        </mat-card-actions>
    </mat-card>

</section>
