<section>
    <mat-card class="purchase">
        <mat-card-header>
            <mat-card-title>Cadastro de Compra</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="purchaseForm" class="purchase__form" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Código do produto" formControlName="code">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Valor" formControlName="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </form>
        </mat-card-content>
    
        <mat-card-actions class="purchase__actions">
            <button (click)="save()" [disabled]="purchaseForm.invalid" class="purchase__actions--save-btn" mat-raised-button>Salvar</button>
        </mat-card-actions>
    </mat-card>

</section>
