<section>
    <mat-card class="login">
        <mat-card-header>
            <mat-card-title>Acessar a sua conta para continuar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" class="login__form" novalidate>
                <mat-form-field>
                    <input matInput placeholder="E-mail" formControlName="user">
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Senha" formControlName="password" type="password">
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>

                <mat-error *ngIf="loginError">E-mail ou senha inválidos.</mat-error>
            </form>
        </mat-card-content>
    
        <mat-card-actions class="login__actions">
            <button (click)="register()" class="login__actions--btn-register" mat-raised-button>Inscreva-se</button>
            <button (click)="login()" [disabled]="loginForm.invalid" class="login__actions--btn-login" mat-raised-button>Entrar</button>
        </mat-card-actions>
    </mat-card>
</section>